apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: {{ plugin.name }}-fleet-configuration
  namespace: openshift-acm-policies
spec:
  clusterSelector: {{ plugin.clusterSelector }}
