apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: {{ plugin.name }}-fleet-configuration
  namespace: openshift-acm-policies
placementRef:
  apiGroup: apps.open-cluster-management.io
  kind: PlacementRule
  name: {{ plugin.name }}-configuration
subjects:
- apiGroup: policy.open-cluster-management.io
  kind: Policy
  name: {{ plugin.name }}-catalogsource
- apiGroup: policy.open-cluster-management.io
  kind: Policy
  name: {{ plugin.name }}-operators
