---
kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v2alpha1
mirror:
  platform:
    channels:
{% set channels = {} %}
{% for v in openshift_versions %}
{%   set channel_name = 'stable-' + v.version.split('.')[:2] | join('.') %}
{%   set patch = v.version.split('.')[2] | int %}
{%   if channel_name not in channels %}
{%     set _ = channels.update({channel_name: {'min_patch': patch, 'min_ver': v.version, 'max_patch': patch, 'max_ver': v.version}}) %}
{%   else %}
{%     if patch < channels[channel_name]['min_patch'] %}
{%       set _ = channels[channel_name].update({'min_patch': patch, 'min_ver': v.version}) %}
{%     endif %}
{%     if patch > channels[channel_name]['max_patch'] %}
{%       set _ = channels[channel_name].update({'max_patch': patch, 'max_ver': v.version}) %}
{%     endif %}
{%   endif %}
{% endfor %}
{% for channel_name, data in channels.items() %}
      - name: {{ channel_name }}
        minVersion: {{ data.min_ver }}
        maxVersion: {{ data.max_ver }}
{% endfor %}
    graph: true
  operators:
{% for plugin_name, plugin_operators in combined_operators.items() %}
{% if plugin_name == 'default' %}
    - catalog: {{ rh_operator_catalog }}:{{ rh_operator_catalog_version }}
      targetCatalog: redhat/{{ mirror_rh_operator_catalog }}
{% else %}
    - catalog: {{ rh_operator_catalog }}-{{ plugin_name }}:{{ rh_operator_catalog_version }}
      targetCatalog: redhat/{{ mirror_rh_operator_catalog }}-{{ plugin_name }}
{% endif %}
      packages:
{% for operator in plugin_operators %}
{% set additional_operator_names = operator.csvNames if (operator.csvMirror | default(false) | bool) else [] %}
{% for operator_name in [operator.name] + additional_operator_names %}
        - name: {{ operator_name }}
          defaultChannel: {{ operator.channel }}
          channels:
            - name: {{ operator.channel }}
              minVersion: {{ operator.init_version }}
              maxVersion: {{ operator.version }}
{% endfor %}
{% for pkg in operator.extraMirrorPackages | default([]) %}
        - name: {{ pkg }}
{% endfor %}
{% endfor %}
{% endfor %}

  additionalImages:
    - name: registry.redhat.io/ubi8/ubi:latest
    - name: quay.io/argoproj/argocd:v2.2.2
    - name: registry.connect.redhat.com/hashicorp/vault-csi-provider:1.6.0-ubi
    - name: registry.connect.redhat.com/hashicorp/vault-enterprise:1.20.4-ent-ubi
    - name: registry.connect.redhat.com/hashicorp/vault-k8s:1.7.0-ubi
    - name: registry.connect.redhat.com/hashicorp/vault:1.20.4-ubi

  blockedImages:
    - name: registry.redhat.io/quay/quay-builder-qemu-rhcos-rhel8
    - name: registry.redhat.io/quay/quay-builder-rhel8
