[[registry]]
  prefix = ""
  location="quay.io/openshift-release-dev/ocp-v4.0-art-dev"
  mirror-by-digest-only=true
[[registry.mirror]]
  location="{{ quayHostname }}:8443/openshift/release"

[[registry]]
  prefix = ""
  location="registry.redhat.io/openshift"
  mirror-by-digest-only=true
[[registry.mirror]]
  location="{{ quayHostname }}:8443/openshift"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/openshift-pipelines"
  mirror-by-digest-only=true
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/openshift-pipelines"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/openshift4"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/openshift4"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/openshift-gitops-1"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/openshift-gitops-1"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/rhel8"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/rhel8"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/source-to-image"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/source-to-image"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/ubi8"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/ubi8"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/ubi8-minimal"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/ubi8-minimal"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/ubi9"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/ubi9"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/ubi9-minimal"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/ubi9-minimal"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/multicluster-engine"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/multicluster-engine"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/quay"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/quay"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/rhel9"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/rhel9"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/rhacm2"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/rhacm2"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/rhem"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/rhem"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/container-native-virtualization"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/container-native-virtualization"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/rh-sso-7"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/rh-sso-7"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/openshift-logging"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/openshift-logging"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/oadp"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/oadp"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/network-observability"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/network-observability"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/migration-toolkit-virtualization"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/migration-toolkit-virtualization"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/openshift-serverless-1"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/openshift-serverless-1"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/cluster-observability-operator"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/cluster-observability-operator"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/cert-manager"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/cert-manager"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/compliance"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/compliance"

[[registry]]
  prefix = ""
  location = "registry.connect.redhat.com/hashicorp"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/hashicorp"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/rhel7"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/rhel7"

[[registry]]
  prefix = ""
  location = "registry.redhat.io/openshift-update-service"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/openshift-update-service"

[[registry]]
  prefix = ""
  location = "quay.io/argoproj"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/argoproj"

{% for reg in (_core_plugin_registries | default([])) %}

[[registry]]
  prefix = ""
  location = "{{ reg.location }}"
[[registry.mirror]]
  location = "{{ quayHostname }}:8443/{{ reg.mirror }}"
{% endfor %}
